<div class="container-fluid page-body-wrapper paper-wrap bevel tlbr">

    <div class="main-panel">
        <div>
            <!--TITLE -->
            <div id="paper-top" class="paper-top">
                <h4 class="text-primary">
                    <i class="mdi mdi-account mr-2"></i>Manage Staff
                </h4>
                <div class="devider-vertical visible-lg"></div>

            </div>
            <!--/ TITLE -->

            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="row m-md-0 strap-background mb-lg-3">
                                <div class="col-md-10 mt-md-2 float-left">
                                    <h5 class="text-white">Added Staff</h5>
                                </div>
                                <div class="col-md-2 text-end"> 
                                    <!-- <span class="float-right text-muted"> -->
                                        <a class="btn btn-custom mt-1 mb-1" (click)="addStaff()">+ Add Staff</a>
                                    <!-- </span> -->
                                </div>
                                <div class="clearfix"></div>
                            <!-- </div> -->
                        </div>
                        <div class="card-body">
                            <div class="table-responsive tbl-height">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr class="thead-background thead-color">

                                            <th>Sr No</th>
                                            <th>Role</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Address</th>
                                            <th>Cellphone Number</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Manager</td>
                                            <td>joginder malhotra</td>
                                            <td>jrmalhotra@hotmail.com</td>
                                            <td>217,17-10128 132st,Surrey,British Columbia,V3T3T5</td>
                                            <td>7206244472</td>
                                            <td class="text-center"><a href="" class="badge badge-primary badge-pill" data-toggle="modal" data-target="#companydetails"><i class="mdi mdi-eye"></i></a></td>
                                            <td><a href="" class="text-success"><i class="mdi mdi-thumb-up"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table><br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div-extraspace"></div>
        </div>
        <!-- content-wrapper ends -->
    </div>

    <!-- main-panel ends -->
</div>
