<div class="container-fluid page-body-wrapper paper-wrap bevel tlbr">

    <div class="main-panel">
        <div>
            <!--TITLE -->
            <div id="paper-top" class="paper-top">
                <h4 class="text-primary">
                    <i class="mdi mdi-qqchat mr-2"></i>Web Request
                </h4>
                <div class="devider-vertical visible-lg"></div>

            </div>
            <!--/ TITLE -->
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="row m-md-0">
                            <div class="col-md-12 strap-background mb-lg-3">
                                <div class="mt-md-2 float-left">
                                    <h5 class="text-white">Web Request Management</h5>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive tbl-height">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr class="thead-background thead-color" >
                                            <th>Sr No</th>
                                            <th>Query For</th>
                                            <th>subject </th>
                                            <th>Company Name</th>
                                            <th>User Detail</th>
                                            <th>Message</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><br> <br></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table><br>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="Loadlisting_info" role="status" aria-live="polite">
                                            <!-- Showing 1 to {{(allContacts|async).length}} of {{(allContacts|async).length}} entries -->
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div-extraspace"></div>
        </div>
        <!-- content-wrapper ends -->
    </div>

    <!-- main-panel ends -->
</div>
