.stretch-card {
    width: 100%;
}
.btn-custom {
    border: 1px solid white !important;
    color: #f35e2e;
    background: #fff;
    line-height: 20px;
}
.btn-custom:hover {
    color: white;
    text-decoration: none;
    background-color: #f35e2e;
    line-height: 20px;
}
