<div class="horizontal-menu">
    <nav class="navbar top-navbar col-lg-12 col-12 p-0">
        <div class="container-fluid container-custom">
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <div class="input-group">
                    <marquee width="100%" direction="left">
                        <!-- {{(defaultFormat$|async)?.adminMarque}} -->
                    </marquee>
                </div>
                <ul class="navbar-nav navbar-nav-right mr-lg-12 user-action-nav">
                    <li class="nav-item dropdown mr-4">
                        <a class="nav-link nav-link-bell count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown"  data-toggle="dropdown">
                            <i class="mdi mdi-bell mx-0 mdi-bell-admin"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                        </div>
                    </li>
                    <li class="nav-item nav-profile dropdown mr-0 mr-sm-2">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="assets/images/favicon.png" alt="profile" />
                            <span class="nav-profile-name"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" [routerLink]="['/admin/all-activities']">
                                <i class="mdi mdi mdi-wallet-giftcard text-primary"></i> All Activity
                            </a>
                            <a class="dropdown-item" routerLinkActive="router-link-active">
                                <i class="mdi mdi-logout text-primary"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
                <!-- <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                    <span class="mdi mdi-menu"></span>
                </button> -->
            </div>
        </div>
    </nav>
    <div>
        <div class="mobile-menu">
            <img src="assets/images/tonnij-logo-beta.png" class="image">
            <span class="mdi mdi-menu close-menu"></span>
        </div>
        <nav class="bottom-navbar" [ngClass]="toggleMenu ? 'show':'hide'">
            <div class="container-fluid container-custom">
                <div id="userDashboard" class="main-menu-wrapper">
                    <a class="nav-branding" [routerLink]="['/admin/dashboard']">
                        <img src="assets/images/tonnij-logo-beta.png" class="image">
                    </a>
                    <ul class="nav page-navigation">
                         <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/admin/dashboard']" >
                                <mat-icon class="text-primary">dashboard</mat-icon> <span class="menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/admin/pending_approvals']">
                                <i class="mdi mdi-file-document menu-icon"></i>
                                <span class="menu-title">Approve Documents</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/admin/manage-company']">
                                <i class="mdi mdi-account-box menu-icon"></i>
                                <span class="menu-title">Manage Company</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/admin/manage-load']" class="nav-link">
                                <i class="mdi mdi-buffer menu-icon"></i>
                                <span class="menu-title">Manage Load</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/admin/manage-truck']" class="nav-link">
                                <i class="mdi mdi-truck menu-icon"></i>
                                <span class="menu-title">Manage Truck</span>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                  <a [routerLink]="['/admin/manage-invoice']" class="nav-link" >
                            <i class="mdi mdi-file-pdf menu-icon"></i>
                            <span class="menu-title">Invoice Management</span>
                        </a>
                  </li> -->
                        <li class="nav-item">
                            <a [routerLink]="['/admin/manage-staff']" class="nav-link">
                                <i class="mdi mdi-account menu-icon"></i>
                                <span class="menu-title">Add Staff</span>
                            </a>
                        </li>
 
                        <li class="nav-item" >
                            <a style="cursor: pointer;" class="nav-link nav-dropdown">
                                <i class="mdi mdi-qqchat menu-icon"></i>
                                <span class="menu-title">Request</span>
                             
                                <img src="assets/images/down-arrow.svg" alt="" style="width: 10px;vertical-align: middle;margin-left: 5px;transform: translateY(2px);">
                            </a>
                            <div class="submenu" [ngClass]="clickedIndex == 1 ? 'active':''">
                                <ul class="submenu-item">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/admin/web-request']"> 
                                            <i class="mdi mdi-qqchat menu-icon text-primary"></i> Web Request</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/admin/invoice-request']"> 
                                            <i class="mdi mdi-qqchat menu-icon text-primary"></i> User Request</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="cursor: pointer;">
                                <i class="mdi mdi-amplifier menu-icon"></i>
                                <span class="menu-title">Broadcast</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <div class="backdrop" [ngClass]="toggleMenu ? 'show':'hide'"></div>
    </div>
    <router-outlet></router-outlet>
</div>
